.StyledAppBar {
    position: fixed;
}

.StyledToolbar {
    display: flex;
    justify-content: space-between;
    background-color: #332593;
    background-image: linear-gradient(#332593,#6655d6c5);
}

.Text-logo {
    display: flex;
    gap: 8px;
    font-size: 25px;
    align-items: center;
    font-weight: 600;
}

.Links-navbar{
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
}

a:hover {
    background-color: #8bb6f28a ;
}

.Link {
    text-decoration: none;
    background-color: #6554cec5;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border-style: solid;
    border-color: #252049c5;
}